<div class="container">
  <div class="width-80 margin-0-auto">
    <img class="card-img" src="<%= @recipe.photo.url %>" alt="<%= @recipe.title %>">
    <div class="card-img-overlay d-flex flex-column">
      <h3 class="card-text font-weight-bold"><%= @recipe.title %></h3>
      <div class="clear width-80 left">
        &nbsp
        <% @recipe.tags&.each do |tag| %>
          <span class="tag"><%= tag.name %></span>
        <% end %>
      </div>
      <p class="font-weight-bold">Calories: <%= @recipe.calories %></p>
      <div class="mt-10">
        <p class="card-text"><span class="mr-auto"><%= @recipe.description %></span></p>
      </div>
    </div>
    <hr class="clear">
    <p>Shared with you by: <span class='text-green'><%= @recipe.chef&.name %></span></p>
  </div>
</div>


